arcade/
02-matplotlib.pdf
turtle-01.py
accessoFile/dati.txt
dati.txt
matplot/test.py
matplot/grafico.png
matplot/test.py
tutorial/esempi
dati1.txt
dati2.txt
dati4.txt
dati3.txt
grafico.png
accessoFile/__pycache__/
esercizi/__pycache__/
Foglio1.csv
esercizi_formazione/
graficare.png
matplotlib-it.pdf